@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Scrumee.Data.Entities.Project

<script type="text/javascript">

    $(document).ready(function () {

        $('.popup').toggle();

        // Hide the editor view
        $('.editor').hide();
        $('.addEditor').hide();

        // Show the editor view
        $('.edit').click(function (event) {
            $('.reader').hide();
            $('.editor').show();
            event.preventDefault();
        });

        // Close the editor view
        $('.cancel').click(function (event) {
            $('.editor').hide();
            $('.reader').show();
            event.preventDefault();
        });

        // Show new user story input view
        $('.addUserStory').click(function (event) {

            $('.popup').toggle();

            $('#txtName').focus();
        });

        // Click submit button on ENTER key press
        $('#txtName').keyup(function (event) {
            if (event.keyCode == 13) {
                $('#btnSubmit').click();
            }
        });

        // Add user story
        $('#btnSubmit').click(function (event) {

            var name = $('#txtName').val();

            var projectId = $('#txtName').attr("data-projectId");

            if (name == '') {
                alert("Please enter a name for the new user story.");
            }
            else {

                var actionUrl = '@Url.Action("AddUserStory", "Projects")';

                var queryString = '/?projectId=' + projectId + "&" + 'name=' + name;

                window.location.href = actionUrl + queryString;
            }
        });

        // Update project
        $('.update').click(function (event) {

            var id = $(this).attr("data-id");

            var name = $(this).parent().parent().find('.name').val();

            var actionUrl = '@Url.Action("UpdateUserStory", "Projects")';

            var queryString = '?userStoryId=' + id + '&name=' + name;
            
            window.location.href = actionUrl + queryString;

            event.preventDefault();
        });

        // Delete project
        $('.delete').click(function (event) {

            var id = $(this).attr("data-id");

            var actionUrl = '@Url.Action("DeleteUserStory", "Projects")';

            var queryString = '?userStoryId=' + id;

            window.location.href = actionUrl + queryString;

            event.preventDefault();
        });

        // Navigate to user story details
        $('.userStory').click(function (event) {

            var id = $(this).attr("data-id");

            var actionUrl = '@Url.Action("UserStoryDetails", "Projects")';

            var queryString = '/?id=' + id;

            window.location.href = actionUrl + queryString;

            event.preventDefault();
        });

    });

</script>

<div class="navigation">

    @Html.ActionLink("All Projects", "All")

</div>

<div class="sectionTitle">
    User Stories
</div>

<table>
    <tr>
        <th>Id</th>
        <th>User Story Name</th>
        <th>Edit</th>
    </tr>
    @foreach (var userStory in @Model.UserStories)
    {
    <tr>
        <td >@userStory.UserStoryId</td>
        <td>
            <span class="reader userStory pointer" data-id="@userStory.Id">@userStory.Name</span>
            <input type="text" size="40" value="@userStory.Name" class="editor name" />
        </td>
        <td>
        <a href="#" class="reader edit">Edit</a>
        <a href="#" class="editor cancel">Cancel</a>
        <a href="#" class="editor update" data-id="@userStory.Id">Save</a>
        <a href="#" class="editor delete" data-id="@userStory.Id">Delete</a>
    </td>
    </tr>
    }
    <tr class="addUserStory">
        <td colspan="3" class="underline" style="text-align:right; font-size:.8em;">Add New User Story</td>
    </tr>
</table>

<div class="popup">
    <h5 class="underline">New User Story</h5> <br />
    User Story Name: <input type="text" id="txtName" data-projectId="@Model.Id" /> <input type="button" id="btnSubmit" value="Create New User Story" />
</div>